html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  --h2-title: 14px;
  scroll-behavior: smooth;
}

.body {
  /* position: relative; */
  --nav-link-size: 1;
  box-sizing: border-box;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(/assets/background/background_2560x1440.jpg);
}

@media (max-width: 720px) {
  .body {
    background-image: url(/assets/background/background_1280x720.jpg)
  }
}

@media (min-width: 721px) and (max-width: 1919px) {
  .body {
    background-image: url(/assets/background/background_1920x1080.jpg)
  }
}

.header {
  position: relative;
  width: 100%;
  margin-bottom: 500px;
}

.header__img {
  margin: 0 auto;
  width: calc(100vw - 25%);
}

.header_portrait__img {
  display: none;
}

.nav {
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 50%);
  gap: 10px;
}

.nav__link {
  width: 100%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: calc(var(--nav-link-size) * 1rem);
  font-weight: bold;
  background-color: rgba(236, 222, 182, 0.5);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  text-align: center;
}

@media (max-width: 450px) {
  .nav {
    gap: 8px;
    bottom: -96px;
    flex-direction: column;
  }

  .nav__link {
    padding: 5px 0;
    --nav-link-size: 1;
  }

  .header__img {
    display: none;
  }

  .header_portrait__img {
    width: 100%;
    display: block;
  }
}

@media (min-width: 450px) and (max-width: 720px) {

  .header__img {
    display: none;
  }

  .header_portrait__img {
    width: 100%;
    display: block;
  }
    .nav {
    top: 54%;
    flex-direction: column;
  }

  .nav__link {
    padding: 10px 0;
    --nav-link-size: 1;
  }
}

@media (min-width: 721px) {
  .nav {
    width: calc(100vw - 40%);
    --nav-link-size: 1.3;
  }

  .nav__link {
    padding: 15px 5px;
  }

  .header__img {
    display: block;
  }

  .header_portrait__img {
    display: none;
  }
  
}

@media (min-width: 1080px) {
  .nav__link {
    --nav-link-size: 2;
    padding: 20px 8px;
  }
}

.link:hover {
  background-color: rgb(138, 137, 138);
}

.link:focus {
  background-color: rgb(100, 99, 101);
}

.text {
  color: rgb(81, 39, 39);
}

.section {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.section__intro {
  width: 100%;
  height: 100%;
}

.section__title {
  background-image: url(/assets/title_sections_back.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: bold;
  padding: 65px 0 20px;
}

.intro {
  display: flex;
  align-items: center;
  min-height: 800px;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(/assets/intro.webp);
}

.intro__container {
  display: block;
  /* max-width: 1200px; */
  padding: 125px calc(20%);
}

.intro__title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.intro__text {
  line-height: 18px;
  overflow: auto;
  display: block;
  font-weight: bold;
  max-width: 800px;
}

@media (max-width: 520px) {
    .intro__text {
  height: 8rem;
  }
}

@media (min-width: 520px) {
    .intro__text {
    height: 13rem;
  }
}

@media (min-width: 720px) {
  .intro__text {
    overflow: visible;
    height: 100%;
  }
}

@media (min-width: 960px) {
  .intro__text {
    font-size: 20px;
    line-height: 21px;
  }
}

@media (min-width: 1280px) {
  .intro__text {
    font-size: 22px;
    line-height: 30px;
  }
}

@media (min-width: 1920px) {
  .intro {
    max-height: 1200px;
  }

  .intro__text {
    font-size: 33px;
    line-height: 40px;
  }
}

.img__introduction-back {
  height: 100%;
  background-image: url('/assets/section1_center_2560x1440.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
